

body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #283747;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
  }

  /* THE Jumbotron
  vh sizes the image in respect to the viewport height
  -------------------------------------------------- */
  .jumbotron {
    color: #24408E;
    background-image: url(/Img/mercedes-mehling-7J7x8HLXQKA-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
  }

  .jumbotron-special {
    height: 300px;
    text-align: center;
    color: white;
  }



/* heart columns
-------------------------------------------------- */

.hearts .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.hearts .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


  /* Featurettes
  ------------------------- */

  .blog-divider {
    margin: 5rem 0;
  }

  .blog-heading {
    line-height: 1;
    letter-spacing: -.05rem;
  }



/* Contact Form
  ------------------------- */

label {
  color: #333;
}

.btn-send {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 80%;
  margin-left: 3px;
  }
.help-block.with-errors {
  color: #ff5050;
  margin-top: 5px;

}

.card{
margin-left: 10px;
margin-right: 10px;
}

  /* Blockquote
  -------------------------------------------------- */
  .row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
  }

  /* nav bar */
  .enfieldpride
  {
    color: red;
    font-weight: bold;
  }
  .getinvolved
{
  color: orange;
  font-weight: bold;
}
.events
{
  color: yellowgreen;
  font-weight: bold;
}
.about
{
  color: blue;
  font-weight: bold;
}
.aboutus
{
  color: blueviolet;
  font-weight: bold;
}
.blog
{
  color: purple;
  font-weight: bold;
}
.contact
{
  color: red;
  font-weight: bold;
}




 /* Accordion
  -------------------------------------------------- */
  body {
    background: #F9F9F9;
  }
  
  .myaccordion {
    max-width: 700px;
    margin: 50px auto;
    box-shadow: 0 0 1px rgba(0,0,0,0.1);
  }
  
  .myaccordion .card,
  .myaccordion .card:last-child .card-header {
    border: none;
  }
  
  .myaccordion .card-header {
    border-bottom-color: #EDEFF0;
    background: transparent;
  }
  
  .myaccordion .fa-stack {
    font-size: 18px;
  }
  
  .myaccordion .btn {
    width: 100%;
    font-weight: bold;
    color: #004987;
    padding: 0;
  }
  
  .myaccordion .btn-link:hover,
  .myaccordion .btn-link:focus {
    text-decoration: none;
  }
  
  .myaccordion li + li {
    margin-top: 10px;
  }




  
